@import "./body.css";

:root {
    --font-size-homePage-title: 7vw;
    --font-size-homePage-subTitle: 1.95vw;
}

.header-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    object-fit: contain;
    position: relative;
    overflow: hidden;
}

video {
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

h1#homepage-mainTitle {
    letter-spacing: 10px;
    font-size: calc(96 * var(--res));
    /*
    font-size: 6vw;*/
}

h3#homepage-subtitle {
    letter-spacing: 1px;
    font-size: calc(35 * var(--res));
    /*
    font-size: 2.5vw;
    ou font-size: 1.5em;*/
    /*border: 1px solid red;*/
}


/*Ajustement du fond*/
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

/*Met une image en fond avant 767px*/
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }

    header {
        background-image: url("../image/background.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    .homepage-title {
        top: 40%;
    }
}

@media screen and (max-width: 350px) {
    section {
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-width: 280px) {
    h1#homepage-mainTitle {
        font-size: 1.4em;
    }
}