@import "./body.css";

.projects {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--font-text-color);
    /*border: 3px solid red;*/
}

.projects h1 {
    color: var(--nav-background-color);
    margin-bottom: 30px;
}

.swiper-container {
    width: 100%;
    height: 75vh;
    transition: opacity .6s ease;
    /*border: 1px solid red;*/
}

.swiper-container.swiper-container-coverflow {
    padding-top: 2%;
}

.swiper-slide {
    background-position: bottom;
    background-size: cover;
    height: 50vh !important;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
    /*border: 3px solid blue;*/
}

.swiper-slide .content {
    cursor: pointer;
    display: grid;
    grid-template: 1fr 3fr 2fr / 1fr 2fr 1fr;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    animation-name: slide;
    animation-duration: 2s;
    backdrop-filter: blur(5px);
    background: rgba(85, 83, 83, 0.3);
    opacity: 0;
    transition: opacity 0.25s;
}

.swiper-slide .content>* {
    transform: translateY(40px);
    transition: transform 0.25s;
}

.swiper-slide .content:hover {
    opacity: 1;
}

.swiper-slide .content:hover>* {
    transform: translateY(0);
}

.swiper-slide .content .content-title {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 2em;
    font-weight: bold;
    margin: 4vh 0 1.3vh 0;
    text-align: center;
}

.swiper-slide .content .caption {
    grid-area: 2 / 1 / 3 / 4;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.6;
    max-height: 100%;
    overflow-y: auto;
}

.swiper-slide .content .caption::-webkit-scrollbar {
    background: transparent;
}

.swiper-slide .content .caption::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 10px;
    height: 10px;
}

.swiper-slide .content .caption::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.swiper-slide .content .caption::-webkit-scrollbar-corner {
    border-radius: 10px;
}

hr {
    grid-row: 3;
    height: 1px;
    grid-column: 1 / 4;
    background: #fff;
    border: 1.5px solid #fff;
}

.content-bottom {
    grid-area: 3 / 1 / 4 / 4;
    /*border: 3px solid green;*/
    font-size: calc(20 * var(--res));
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: baseline;
}

.techno {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.techno p {
    margin: 5px auto 5px;
    width: 100%;
    font-size: 1em;
}

.techno-img img {
    width: 3vw;
    height: auto;
}

.show-website {
    padding: 0 1.6vw 0 1.6vw;
    height: fit-content;
}

.show-website a span {
    position: relative;
    color: #fff;
    font-size: calc(20 * var(--res));
    vertical-align: baseline;
    transition: background 0.5s ease;
}

.show-website a span::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .show-website a span:hover::before {
        left: 0;
        right: auto;
        width: 89%;
    }
}

.show-website i {
    color: #fff;
    margin-left: 20px;
    animation: slide1 1s ease-in-out infinite;
    margin-left: 5px;
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

.slide1 {
    background-image: url("../image/one_page.jpg");
}

.slide2 {
    background-image: url("../image/marvel_quizz.jpg");
}

.slide3 {
    background-image: url("../image/todo_list.jpg");
}

.slide4 {
    background-image: url("../image/jitterclick.jpg");
}

.slide5 {
    background-image: url("../image/tower-defense.jpg");
}

.slide6 {
    background-image: url("../image/reine.jpg");
}


.swiper-slide::after {
    content: "";
    background-image: inherit;
    background-position: bottom;
    background-size: cover;
    transform: scaleY(-1);
    width: inherit;
    height: 40%;
    position: absolute;
    bottom: -41%;
    opacity: 0.4;
}

.swiper-slide::before {
    z-index: 1;
    content: "";
    width: inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
}

/*-------------------FORMAT MOBILE-------------------*/
@media screen and (max-width: 420px) {
    .swiper-slide {
        width: 420px;
    }

    .techno {
        padding: 0;
        margin-left: 15px;
    }

    .techno p {
        font-size: 0.8rem;
    }

    .techno-img img {
        width: 8vw;
    }

    .show-website a span {
        font-size: 0.6rem;
        margin-right: 15px;
    }

}

/*-------------------FORMAT BIG SCREEN-------------------*/
@media screen and (min-width: 2000px) and (max-width: 3400px) {
    .swiper-slide .content .caption {
        padding-top: 50px;
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 3400px) {
    .swiper-slide .content .caption {
        font-size: 3rem;
    }
}

/*-------------------FORMAT TABLETTE-------------------*/
@media screen and (min-width: 768px) {
    .techno {
        margin-left: 20px;
    }

    .show-website {
        text-align: center;
    }
}

@media screen and (min-width: 335px) and (max-width: 870px) {
    .swiper-slide .content .caption {
        padding: 5px;
    }
}