@import "./body.css";

/*.inner*/
.skills {
    padding: 142px 0 66px 0;
    background-color: var(--section-background-color);
}

.skills h1 {
    margin-bottom: 62px;
}

.skill-category {
    margin-bottom: 66px;
}

/*.header*/
.skill-category .skill-title {
    text-align: center;
    color: var(--font-text-color);
    padding: 1rem;
    position: relative;
    font-weight: 700;
    font-size: calc(45 * var(--res));
    text-transform: capitalize;
}

.skill-container {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
}

#tools {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: baseline;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
}

.skill-container img {
    width: 62px;
    height: 62px;
    padding: 7px;
}

.skill-icon {
    border-radius: 10px;
    box-shadow: 25px 50px 70px #142639;
}